<!DOCTYPE html>
<html lang="pl">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kacper</title>
    <link rel="stylesheet" href="style.css">
    <a id="main-a-id" href="#">DISU</a>
    <a class="main-a-class" href="#">Gierczak</a>
    <center><img src="https://image.freepik.com/darmowe-zdjecie/biale-tlo_23-2147730801.jpg" alt="Girl in a jacket" width="1920" height="20"></center>
</head>
<picture></picture>
<span style="color: honeydew;"
><button onclick="window.location.href='https://allegro.pl/'">HOME</button> <button onclick="window.location.href='https://allegro.pl/'">MENU  </button> <button onclick="window.location.href='https://allegro.pl/'">SETTINGS</button>
<body>
  
  <br>
  <br>
  <br>
<center><h1>KACPER</h1></center> 

</body>





<img>
<body style="background-color:black;">

  <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>



</body>



<style>

p.a {
  font-family: "heydings: NaNt;67"
}




</style>

      

<p class="a"DISU

        
   
    
    
    <br>
    <br>
   
    
    <br>
    <br>
    <br>
    <center><img src="https://image.freepik.com/darmowe-zdjecie/biale-tlo_23-2147730801.jpg" alt="Girl in a jacket" width="1920" height="20"></center>
    <p><center><h2>Artykuł</h2></center></p>
<br>

 

      
    
      <center><h3>Microsoft Edge</h3></center>
      <center>Microsoft Edge Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer</center>

    <br>
    <br>
          <center><h3>Mozilla Firefox</h3></center>
    <p> <center>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p></center>
  
    <center><p style="font-family:verdana">Kliknij.</p></center>

  
      
        <center><button onclick="window.location.href='https://allegro.pl/'">CLICK</button></center>

        <br>
        <br>
        <style>
          table, th, td {
            border: 1px solid whitesmoke;
          }
          </style>   
        
    <center><table></center>
    <tr>
      <th>Lorem,ipsun</th>
      <th>Lorem,ipsun</th>
    </tr>
    <tr>
      <td>Lorem,ipsun</td>
      <td>Lorem,ipsun</td>
    </tr>
    <tr>
      <td>Lorem,ipsun</td>
      <td>Lorem,ipsun</td>
    </tr>                                                           
  </table>

<br>
  <form action="/action_page.php">
    <label for="male">a</label>
    <input type="radio" name="gender" id="male" value="male"><br>
    <label for="female">b</label>
    <input type="radio" name="gender" id="female" value="female"><br> 
    <label for="other">c</label>
    <input type="radio" name="gender" id="other" value="other"><br><br> 
    <input type="submit" value="Submit">
  </form>
  
<h3>Autor:Kacper</h3>
<a href="randomemail@o2.pl">randomemail@o2.pl</a>
 
<center><img src="https://image.freepik.com/darmowe-zdjecie/biale-tlo_23-2147730801.jpg" alt="Girl in a jacket" width="1920" height="20"></center>
</body>
</html>
